spring:
  datasource:
    dynamic:
      primary: master #设置默认的数据源或者数据源组,默认值即为master
      strict: false #设置严格模式,默认false不启动. 启动后在未匹配到指定数据源时候会抛出异常,不启动则使用默认数据源.
      datasource:
        master:
          url: jdbc:mysql://192.168.145.128:3306/mall?useUnicode=true&characterEncoding=utf8
          username: root
          password: 123456
          driver-class-name: com.mysql.jdbc.Driver # 3.2.0开始支持SPI可省略此配置
        slave_1:
          url: jdbc:mysql://192.168.145.129:3306/mall
          username: root
          password: 123456
          driver-class-name: com.mysql.jdbc.Driver

mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

xxl:
  job:
    executor: # 执行器配置
      appname: xxl-job-executor-athena
      ip:
      port: 9999
      logpath: /data/applogs/xxl-job/jobhandler
    accessToken:
    admin:
      addresses: http://127.0.0.1:8888/xxl-job-admin # xxl-job {度器地址